<!-- src/app/app.component.html -->


<div>
<nav class="inicio">
  <h1 *ngIf="vista === 'home'">El Armario de los Libros</h1>
</nav>

<nav>
  <button (click)="cambiarVista('home')">Inicio</button>
  <button (click)="cambiarVista('login')">Login</button>
  <button (click)="cambiarVista('register')">Registro</button>
  <button *ngIf="auth.getUsuario()" (click)="cerrarSesion()">Cerrar Sesión</button>
</nav>

<app-login *ngIf="vista === 'login'" (loginExitoso)="onLoginSuccess()"></app-login>
<app-register *ngIf="vista === 'register'"></app-register>
<app-admin *ngIf="vista === 'admin'"></app-admin>
<app-user *ngIf="vista === 'user'"></app-user>

</div>

<iframe width="100%" height="450" src="https://lookerstudio.google.com/embed/reporting/bb84b794-12c8-4c57-9cd8-341f9c60cc69/page/page_12345" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>